<aside class="sidebar" id="sidebar">
    <nav id="navigation">
      <h2>Menu</h2>
      <!-- 菜单栏 -->
      {% include links.html %}
      {% if page.music_id %}
      <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=100% height=86 src="//music.163.com/outchain/player?type=2&id={{ page.music_id }}&auto=1&height=66"></iframe>
      {% else %}
      <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=100% height=86 src="//music.163.com/outchain/player?type=2&id=1824020871&auto=1&height=66"></iframe>
      {% endif %}
    </nav>
</aside>
